// Global default params, used in configs
params {
  input = null
  outdir = "results"
}

// Docker environment parameters
docker {
  enabled     = true
  autoMounts  = true
}

executor {
  name = 'local'
}

process {
// Container needs to be changed to local installation name 
  container = 'vep:v0.1'
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Capturing Nextflow log files into a reports directory
timeline {
   enabled = true
   file = "${params.outdir}/pipeline-info/timeline.html" 
   overwrite = true
}

report {
   enabled = true
   file = "${params.outdir}/pipeline-info/report.html"
   overwrite = true
}

trace {
   enabled = true
   file = "${params.outdir}/pipeline-info/trace.txt"
   overwrite = true
}

// Ensures work directories and removed when pipeline completes
cleanup = true
